//COLOR-------------------------------------------------------------------------
$oplog-green: rgb(76, 162, 34);
$oplog-yellow: #e6a23c;
$oplog-red: rgb(247, 93, 93);
$oplog-light-gray: rgb(233, 233, 233);
$oplog-gray: rgb(119, 119, 119);

$oplog-border-light: $oplog-light-gray;

$oplog-font-color: rgb(54, 54, 54);

$oplog-button-red: rgb(247, 94, 94);

//BUTTONS-----------------------------------------------------------------------
$oplog-button-color-default: rgb(65, 65, 65);

//BREAKPOINTS-------------------------------------------------------------------
$oplog-width-breakpoint: 800px;
